
services:
  server:
    build: ./server
    ports:
      - "5000:5000"   # web UI
      - "9999:9999"   # tcp for clients
    # volumes:
    #   - ./server/static:/app/static
    restart: unless-stopped
  client:
    build: ./client
    depends_on:
      - server
    restart: unless-stopped
